__pycache__/
*.py[cod]
*$py.class

.DS_Store
.AppleDouble
.LSOverride

.coverage
.coverage.*

# Translations
*.mo
*.pot

# PyCharm
.idea/
enterprise/

# everything that AI uses in wrokflows
ai_tooling/
odoo_sop/
prompt.txt
prompt_file_vars.yml
prompt_vars.yml
core/
installed_modules/
doc/general/
READMO_content_list.md
