[submodule "submodules"]
	path = submodules
	url = git@github.com:opsway/odoo-modules.git
	branch = v18
[submodule "opsway/odoo_secure_cookies_support"]
	path = opsway/odoo_secure_cookies_support
	url = git@github.com:opsway/odoo_secure_cookies_support.git
	branch = v18
