.o_list_record_copy_th {
    width: 30px;
}

.o_list_renderer .o_list_table .o_list_record_copy button {
    padding: 0;
    background: none;
    border-style: none;
    display: table-cell;
    cursor: pointer;
}

.o_list_renderer .o_list_table .o_list_record_copy {
    width: 1px;
    text-overflow: unset !important;
}
